*{
    padding: 0;
    margin: 0;
    font-family: 'Ropa Sans', sans-serif;
}

/* header */

.nav_bar{
    width: 100%;
    height: auto;
    background-color: #3F4753;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1000;
}

.nav_bar container{
    width: 1440px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
}


.poisk{
    width: 800px;
    height: 50px;
    margin-right: 50px;
}

.change-theme{
    border: none;
}

.change-theme[data-theme="dark"]{
    display: block;
}

.change-theme[data-theme="light"]{
    display: none;
}


form {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
input, button {
    outline: none;
    background: transparent;
}
.poiskov {
    width: 100%;
    height: 50px;
    padding-left: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    outline: none;
    border: none;
}
.button_1 {
    border: none;
    height: 50px;
    width: 80px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.main_menu{
    width: 330px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu_list{
    width: auto;
    height: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu_list a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}


/* Main content */

.col_main{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col_main container{
    width: 1440px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 120px;
}
/*  slider */

/*  kategory */

.zagolovok{
    width: 1440px;
    height: 30px;
    padding-top: 70px;
}

.zagolovok h1{
   font-size: 24px;
}

.kategory{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px;
    flex-wrap: wrap;

}

.box_kategory{
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    opacity: 1;
    transform: scale(1.1);
}

.box_kategory{
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.box_kategory:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.box_kategory h3{
    padding-top: 10px;
    font-size: 18px;
}

/*hit product*/

.product{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
    flex-wrap: wrap;


}

.box_product{
    width: 440px;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    opacity: 1;

}

.box_product h3{
    font-size: 18px;
    text-align: center;
}

.box_product h4{
    font-size: 14px;
}

.box_product p{
    font-size: 14px;
}

.box_product img{
    width: 200px;
    height: 300px;
}


.info_product {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.opisanie{
    width: 200px;
    height: 140px;
    line-height: normal;
}

.inn{
    width: 200px;
    height: 60px;
}
.button5 {
    width: 100px;
    height: 25px;
    background-color: white;
    color: black;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 12px;
}

.button5:hover {
    background-color: #4B4B4B;
    color: white;
    transition: all 0.2s ease-out;
}

.known{
    width: 200px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.known img{
    width: 25px;
    height: 25px;
}

/*FOOTER*/

.footer-con {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background-color: #3F4753;
}

.footer-con .container {
    width: 1440px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-glav {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
}

.text-glav h1{
    font-size: 24px;
}

.text-glav p{
    font-size: 14px;
}

.footer-sety .nav {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #ffffff;
    line-height: 3;
}

.footer-sety h3{
    font-size: 24px;
}

.nav a{
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
}

.menu-footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
}

.menu-footer h3{
    font-size: 24px;
}

.menu-footer .nav {
    width: 250px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: #ffffff;
    line-height: 2.2;

}

.footer-sety {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
}

.footer-contact {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: #ffffff;
}

.footer-contact h3{
    font-size: 24px;
}

.footer-contact h1{
    font-size: 24px;
}

.footer-contact p{
    font-size: 14px;
}


/* KATALOG*/

.main_katalog{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.main_katalog container{
    width: 1440px;
    height: auto;
}

.zagolovok-1{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zagolovok-1 h1{
    font-size: 30px;
}

.swiper-col{
    padding-top: 50px;
    padding-bottom: 50px;
}

.zagolovok-2{
    padding-top: 70px;
    width: 100%;
    height: auto;
    border-bottom: 0.5px #000 solid;
}

.zagolovok-2 h1{
    font-size: 24px;
}

.sortirovka{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 30px;
}

.sortirovka a{
    width: 400px;
    height: 30px;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    color: black;
    border-bottom: 0.5px #000000 solid;
}

.product-1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
}
.pagination{
    justify-content: center;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 60px;
}

.page-link{
    color: black;
}

/*     KONTAKT    */

.kontakt_main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.kontakt_main container{
    width: 1440px;
    height: auto;
    display: flex;
    margin: 140px;
    justify-content: space-between;
}

.box-img-kontakt{
    width: 50%;
    height: 700px;
    background-color: #3F4753;
}

.box-info-kontakt{
    width: 40%;
    height: 700px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

.box-info-kontakt h1{
    font-size: 28px;
    color: #006DF0;
    font-weight: bold;
}

.box-info-kontakt h3{
    font-size: 20px;
    line-height: 2.5;
}

.kontakt-4{
    width: 400px;
    display: flex;
    justify-content: space-between;
}


/*  ADMIN PANEL  */


.admin{
    background-color: #111B26;
}

.admin-header container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #ffffff 1px solid;
}

.list-menu{
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.list-menu a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    display: flex;
}

.admin-header h3{
    color: #ffffff;
    font-size: 25px;
    font-weight: lighter;
    padding-left: 40px;
}

.main-admin{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-admin container{
    width: 1800px;
    height: auto;
    padding-top: 140px;
}

.wrapp__admin__panel{
    max-width: 80%;
    margin: 0 auto;
}

.wrapp__admin__panel .title{
    font-size: 25px;
    color: #ffffff;
    font-weight: 800;
    margin: 20px 0;
}


.table{
    border: 1px #ffffff solid;
    margin-bottom: 20px;
    border-radius: 5px;
}

.title__table{
    padding: 5px 10px;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table__db{
    width: 100%;
    border-collapse: collapse;
}

thead tr{
    text-align: left;
}
thead th{
    padding: 5px 10px;
}

tbody tr{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    text-align: left;
}
tbody td{
    padding: 5px 10px;
    word-break: break-all;
}
tbody td:nth-child(even){
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}
tbody td:last-child{
    border-right: none;
}

.edit{
    display: block;
    text-align: center;
    border-radius: 2px;
    color: white;
    background: #006DF0;
    flex-wrap: nowrap;
    width: 130px;
    justify-content: center;
}


form{
    text-align: center;
}
.destroy{
    width: 100px;
    background-color: #ba0e0e;
    outline: none;
    border: none;
    color: white;
    border-radius: 2px;
    padding: 5px 10px;
}

.create{
    color: rgb(53, 160, 53);
    font-weight: 700;
}



th,td{
    color: #ffffff;
}

.input__group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    margin-bottom: 20px;
}

.input__group label{
    color: #ffffff;
}

.input__group input{
    height: 40px;
    padding: 0 5px;
    border-radius: 2px;
}

.btn__add{
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    background: rgb(33, 122, 33);
}


/*      PROFILE     */

.profile_main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_main container{
    width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 140px;
}

.menu-profile{
 width: 1000px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    background-color: #E2E2E2;
    border-radius: 10px;
}

.menu-profile a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.profile{
    width: 1000px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px #000000 solid;

}

.profile h1{
    padding-top: 30px;
}

.info-profile{
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
}

.info-o-nas{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-o-nas container{
    width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 140px;
}

.info-main-text{
    width: 1000px;
    height: 800px;
    border-radius: 20px;
    border: black 2px solid;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.zagolovok-info{
    width: 40%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 50px;
    color: white;
    background-color: #343434;
}

.text-info-history{
    width: 800px;
    height: auto;
    line-height: 2.5;
    font-size: 18px;
    padding-top: 40px;
    color: black;
}


